<div>
<table mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div *ngIf="element.Description !== undefined;">
            <div class="mat-title">Description: </div>
            <div class="mat-subheading-1">{{element.Description}}</div>
          </div>
          <div  *ngIf="element.Comment !== undefined;">
            <div class="mat-title">Comment: </div>
            <div class="mat-subheading-1">{{element.Comment}}</div>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
<mat-paginator #paginator
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 15, 30, 45]">
  </mat-paginator>