.example-header-image {
    background-image: url('../../assets/redlogo.gif');
    background-size: cover; 

  }
  .mat-card-title {
      font-size: xx-large;
  }

  .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }