<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="mat-display-3">Summary</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-container">
    <mat-list *ngIf="simple | async as s" role="list">
      <mat-list-item role="listitem"><h2 class="mat-h2" style="color:#708090;">System: {{s.Summary.DNS_Name}} </h2></mat-list-item>
      <mat-list-item role="listitem"><h2 class="mat-h2" style="color:#708090;">Description: {{s.Summary.Description}}</h2></mat-list-item>
      <mat-list-item role="listitem"><h2 class="mat-h2" style="color:#708090;">Cached URIs: {{s.Summary.Cached_URIs}}</h2></mat-list-item>
      <mat-list-item role="listitem"><h2 class="mat-h2" style="color:#708090;">Run time: {{s.Summary.Run_Time}}</h2></mat-list-item>
    </mat-list>
    <div *ngIf="simple | async as s"><canvas  width="250" height="250" baseChart
      [data]="s.chartData"
      [labels]="doughnutChartLabels"
      [colors]="doughnutChartColors"
      [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas></div>
  </mat-card-content>
</mat-card>