<div  class="container">
  <img class="logo" src="../../assets/redlogo.gif">
  <a href="https://github.com/DMTF/Redfish-Service-Conformance-Check" class="mat-display-1">https://github.com/DMTF/Redfish-Service-Conformance-Check</a>
  <h2 class="mat-h2">This tool is provided and maintained by the DMTF. For feedback, please open issues
in the tool's Github repository: <br> <a href="https://github.com/DMTF/Redfish-Service-Conformance-Check/issues">https://github.com/DMTF/Redfish-Service-Conformance-Check/issues</a></h2>
</div> 