.mat-toolbar {
    display: flex;
    justify-content: space-between;

}

.mat-button {
    font-size: 20px;
}


.mat-form-field {
    width: 25%;
}

.example-stretched-tabs {
    max-width: 100%;
  }
