<mat-toolbar color="primary">
    <span>Redfish™ Conformance Checker Result</span>
</mat-toolbar>
<mat-tab-group   mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
<mat-tab label="Result">
<mat-card>
<mat-form-field>
<mat-select  (selectionChange)="onSubmit(result)" placeholder="Chose File" [(ngModel)]="result" [formControl]="animalControl" required>
    <mat-option *ngFor="let result of conformaceResults" [value]="result">
        {{result}}
    </mat-option>
</mat-select>
</mat-form-field>
</mat-card>
<div *ngIf="result !== undefined; else elseBlock">
<app-upperview></app-upperview>
<mat-card>
<app-assert-table></app-assert-table>
</mat-card>
</div>
<ng-template #elseBlock><h1 class="mat-display-3" style="color:#a6a6a6; text-align: center; padding-top: 25%; padding-bottom: 20%; ">Please chose a file to display the results.</h1></ng-template>
</mat-tab>
<mat-tab label="About">
    <app-about></app-about>
</mat-tab>
</mat-tab-group>